<body>
    <html>

    <h1>Hello <%= username %>, <br>
            today is <%= new Date() %>
    </h1>
    <form method="post" action="home">
        <div>
            <label for="password">password</label><br>
            <input type="text" name="password">
        </div>
        <div>
            <input type="submit" name="button" value="change password">
        </div>
    </form>

</body>

</html>