<body>
<html>

  <form method="post" action="login">
    <div>
      <label for="username">username</label><br>
      <input type="text" name="username">
    </div>
    <div>
      <label for="password">password</label><br>
      <input type="text" name="password">
    </div>
    <div>
      <input type="submit" name="button" value="login">
      <input type="submit" name="button" value="register">
    </div>
  </form>

  <h1><%= err %></h1>

</body>
</html>
