<body>
    <html>
    <form method="post" action="register">
    <div>
        <div>
            <label for="username">username</label><br>
            <input type="text" name="username">
        </div>
        <div>
            <label for="password">password</label><br>
            <input type="text" name="password">
        </div>
        <div>
            <input type="submit" name="button" value="register">
        </div>
    </div>
    </form>
</body>

</html>